{% extends 'admin/basic.twig' %}
{% block stylesheets %}
    <style>
        .login-container {
            max-width: 350px;
            margin: 8rem auto auto;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="login-container">
        <form method="POST">
            <div class="form-group">
                <label for="login" class="bmd-label-floating">Nombre de usuario</label>
                <input type="text" class="form-control" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="clave" class="bmd-label-floating">Contraseña</label>
                <input type="password" class="form-control" id="clave" name="clave">
            </div>
            <span class="form-group bmd-form-group"> <!-- needed to match padding for floating labels -->
                <button type="submit" class="btn btn-primary btn-block">Inisiar Session</button>
            </span>
        </form>
    </div>
{% endblock %}