{% extends 'admin/layout.twig' %}
{% block stylesheets %}
    <script src="/libraries/nprogress/nprogress.js"></script>
    <link rel="stylesheet" href="/libraries/nprogress/nprogress.css">
    <script src="/libraries/request.js"></script>
{% endblock %}
{% block main %}
    <div class="card">
        <div class="card-header card-header-primary d-flex justify-content-between">
            <div>
                <h4 class="card-title">Listar <strong>Sucursales</strong></h4>
                <p class="card-category">listado de todo los sucursales</p>
            </div>
            <a href="/admin/sucursal/form">
                <button type="button" class="btn btn-secondary">
                    <i class="material-icons">add</i>
                </button>
            </a>
        </div>
        <div class="card-body">
            <div class="row mb-3 d-flex justify-content-between">
                <div class="col-sm-6 d-flex justify-content-start align-items-center">
                    <span>Mostrar</span>
                    <select id="limit" class="form-control mr-2 ml-2" style="width:2rem">
                        <option>10</option>
                        <option>30</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <span>Registros</span>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <input type="search" id="search" class="form-control" placeholder="Buscar...">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class=" text-primary">
                        <tr>
                            <th>Razón Social</th>
                            <th>Documento</th>
                            <th>Dirección</th>
                            <th>Email</th>               
                            <th>Logo</th>
                            <th style="width:150px">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
            <div id="pagination" class="d-flex justify-content-between"></div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        ¿Esta seguro de eliminar este registro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteConfirm">Si</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // variable que almacena temporalmente el texto buscado en la base de datos
        let currentSearchText = '';
        let currentLimitTable = 10;

        // Ejecucion de la Peticion ajax hacia el servidor
        function executeRequest(current_page = 1){
            customFetch('/admin/json/sucursal',{
                method: 'POST',
                body: {
                    search: currentSearchText,
                    current_page: parseInt(current_page),
                    limit: parseInt(currentLimitTable),
                }
            })
            .then(e=>{
                render(e.data, e.total, e.current_page, e.limit);
            });
        }

        // Rederizando el contenido HTML
        function render(data, total, current_page, limit){
            // get element tbody table
            let table = document.getElementById('tbody');
            let content = '';
            
            // construct rows in table
            data.map((item,key)=>{
                content +=
                `<tr>
                    <td>${item.razon_social}</td>
                    <td>${item.tipo_documento} ${item.numero_documento}</td>
                    <td>${item.email}</td>
                    <td>${item.telefono}</td>
                    <td>${item.logo}</td>
                    <td>
                        <a href="/admin/sucursal/form?id=${item.id}" class="ml-3 mr-3">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="" class="ml-3 mr-3 text-danger" onclick="currentRowDelete(${item.id})" data-id="${item.id}" data-toggle="modal" data-target="#deleteModal">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>`
            });
            
            // render in tbody
            table.innerHTML = content;

            // render pagination
            pagination(total, (key) => executeRequest(key,limit), limit, current_page);
        }


        executeRequest(1);

        // Buscador
        let sucursal = document.getElementById('search');
        sucursal.addEventListener('keyup',function(e){
            currentSearchText = e.target.value; 
            executeRequest(1);
        });

        // Limite de páginas
        let limitSelect = document.getElementById('limit');
        limitSelect.addEventListener('change',()=>{
            currentLimitTable = limitSelect.options[limitSelect.options.selectedIndex].textContent;
            executeRequest(1);
        });

        // Delete
        function currentRowDelete(id){
            let confirm = document.getElementById('deleteConfirm');
            confirm.addEventListener('click',function(){
                customFetch('/admin/sucursal/delete',{
                    body: { id },
                    method: 'DELETE',
                })
                    .then(e=>{
                        executeRequest(1);
                    });
            });
        }
        
    </script>
{% endblock %}