<div class="services-container">
    <div class="sn-container">
        <section class="sn-item services region">
            <h2 class="services__title region__title">Lo que ofrecemos</h2><img src="" alt="" />
            <div class="services__content grid-template">
                <div class="service"><i class="icon-phone"></i>
                    <h3 class="service__title">Grandes ahorros</h3>
                    <div class="service__desc">¡Obtenga grandes descuentos diarios!</div>
                </div>
                <div class="service"><i class="icon-phone"></i>
                    <h3 class="service__title">24*7 Soporte</h3>
                    <div class="service__desc">Obtenga soporte 24 horas</div>
                </div>
                <div class="service"><i class="icon-phone"></i>
                    <h3 class="service__title">Envío gratis</h3>
                    <div class="service__desc">En orden superior a $ 99 / -</div>
                </div>
            </div>
        </section>
    </div>
</div>