<div class="testimonials">
    <div class="testimonials__bg"><img src="/static/parallax-bg.jpg" alt="paralax" /></div>
    <div class="testimonials__content">
        <div class="testimonials-sn-container slider">
            <article class="testimonial">
                <div class="testimonial__image"><img src="/static/user1.jpg" alt="usuario" /></div>
                <div class="testimonial__content">
                    <h4>John duff</h4>
                    <p>"Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."</p>
                    <p>- Web Developer/Designer</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="testimonial__image"><img src="/static/user2.jpg" alt="usuario" /></div>
                <div class="testimonial__content">
                    <h4>John duff</h4>
                    <p>"Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."</p>
                    <p>- Web Developer/Designer</p>
                </div>
            </article>
            <article class="testimonial">
                <div class="testimonial__image"><img src="/static/user3.jpg" alt="usuario" /></div>
                <div class="testimonial__content">
                    <h4>John duff</h4>
                    <p>"Cajority have suffered alteration in aome from, by injected believable.There varation words able s, but also the leap into electronic typesetting, 1960s with the release of Letraset sheetpassage."</p>
                    <p>- Web Developer/Designer</p>
                </div>
            </article>
        </div>
    </div>
</div>