<div class="sn-container">
    <section class="sn-item topcategories region">
        <h2 class="region__title">Top Categories</h2><img class="topcategories__img" src="" alt="" />
        <div class="topcategories__content grid-template">
            <div class="topcategorie">
                <div class="topcategorie__bg"><img src="" alt="" /></div>
                <div class="topcategorie__info">Coffee milk</div>
                <div class="topcategorie__img"><img src="" alt="" /></div>
                <div class="topcategorie__content">
                    <lu>
                        <li>Cortado</li>
                        <li>Espresso</li>
                    </lu>
                </div>
            </div>
            <div class="topcategorie">
                <div class="topcategorie__bg"><img src="" alt="" /></div>
                <div class="topcategorie__info">Cortado</div>
                <div class="topcategorie__img"><img src="" alt="" /></div>
                <div class="topcategorie__content">
                    <lu>
                        <li>Frappuccino</li>
                        <li>Iced Coffee</li>
                        <li>Irish coffee</li>
                    </lu>
                </div>
            </div>
            <div class="topcategorie">
                <div class="topcategorie__bg"><img src="" alt="" /></div>
                <div class="topcategorie__info">Espresso</div>
                <div class="topcategorie__img"><img src="" alt="" /></div>
                <div class="topcategorie__content">
                    <lu>
                        <li>Eiskaffee</li>
                        <li>Carajillo</li>
                        <li>Baked goods</li>
                    </lu>
                </div>
            </div>
        </div>
    </section>
</div>