@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';


.crud{
    &-header{
        button{
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    table{
        margin-bottom: 1rem;
    }
}