// @import "config/variables.scss";
// @import "generic/base.scss";

// @import "theme/color.scss";




// @import "utils/media-queries.scss";

// Components
// @import "components/sidebar.scss";

@import "~bootstrap/scss/bootstrap";